//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: transparent;
    
    z-index: 999;

    &.sticky {
        background-color: $gradient-yellow;

        transition: all 0.4s ease-in-out;
    }
    
    .navbar {
        padding: 40px 0 30px;
    }

    .nav-item {
        margin-right: 15px;
    }

    .nav-link {
        padding: 0;

        font-family: $font-opensans-semibold;
        font-size: 16px;
        color: $white;

        &:hover {
            color: $orange;
        }
    }
}