//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
html {
  scroll-behavior: smooth;
}

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    padding-top: 15%;

    background-image: url("../assets/images/banner-background.png");
    background-repeat: no-repeat;

    .title-intro {
      font-family: $font-opensans-regular;
      font-size: 50px;
      color: $dirty-white;
      text-align: center;
    }

    .sticky-div {
      position: fixed;
      left: 0;
      top: 28%;
 
      display: flex;
      flex-direction: column;
      margin: 10px;
      width: 4%;

      background-color: transparent;
      border-radius: 15px;

      scroll-behavior: smooth;

      z-index: 999;

      &.sticky {
        background-color: $mid-blue;

        transition: all 0.3s ease-in-out;
      }
    }

    .paw-list {
      padding: 10px 6px;
      margin: 0;
    }

    .paw-left {
      margin-right: 30px;

      border: 1px solid transparent;

      &:hover {
        background-image: none;
        background-image: url("../assets/images/paw orange-right.png");
        background-repeat: no-repeat;
        border: 1px solid transparent;
      }
    }
    
    .paw-right {
      margin-left: 34px;
      
      border: 1px solid transparent;

      &:hover {
        background-image: url("../assets/images/paw orange-left.png");
        background-repeat: no-repeat;
        border: 1px solid transparent;
      }
    }

    .swiper-arrow-holder {
      display: flex;
      flex-direction: row;
    }

    .swiper-container {
      position: relative;
      bottom: 32px;

      margin-left: 8.5%;
      width: 100%;
    }
     

    .paw-patrol {
      width: 100%;
    }

    .arrow-background {
      position: relative;
      right: 83px;
      bottom: 15px;
      
      width: 180px;

      z-index: 1;
    }

    .swiper-button-next {
      position: absolute;
      top: 39.4%;
      right: 13.4%;
      left: auto;

      margin-top: 22px;
      width: 27px;
      height: 44px;

      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      
      cursor: pointer;

      filter: grayscale(1) brightness(6.5);

      z-index: 2;
    }

    .swiper-button-prev {
      position: absolute;
      top: 45.7%;
      left: 81.7%;

      margin-top: 22px;
      width: 27px;
      height: 44px;

      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      
      cursor: pointer;

      filter: grayscale(1) brightness(6.5);
      
      z-index: 2;
    }

    .fixed-booking-bar {
      position: fixed;
      top: 37%;
      right: 0;
      left: 93.1%;

      width: 205px;
      height: 55px;

      background: $light-green;
      border: 2px solid transparent;
      border-radius: 0 0 15px 15px;

      transform: rotate(90deg);

      z-index: 999;

      &:hover {
        background-color: $white;
        border: 2px solid $light-green;

        .heading {
          color: $light-green;
        }
      }
    }

    .heading {
      margin: 14px 50px 0;

      font-family: $font-opensans-semibold;
      font-size: 16px;
      color: $white;      
    }

    .retriever {
      position: absolute;
      top: 53%;
      right: 4%;
      bottom: 0;
      
      z-index: 1;
    }

    .shadow {
      position: relative;
      right: 12.8%;
      top: 5px;
    }
  }
  
  .section-mission {
    #pug-holder {
      width: 8%;
      height: 10px;
    }

    #pug-image {
      position: relative;
      right: 86%;
      bottom: 100px;

      width: 300px;
    }

    .content-holder {
      display: flex;
      flex-direction: row;
    }

    .title {
      font-family: $font-opensans-semibold;
      font-size: 30px;
      color: $mid-blue;
      text-align: center;
    }

    #pug-holder {
      width: 8%;
    }

    .text-holder {
      width: 82%;
    }

    .heading-holder {
      text-align: center;
      
      .heading {
        padding: 0 203px 10px;
    
        font-family: $font-opensans-semibold;
        font-size: 15px;
        color: $mid-blue;
      }
    }

    .sub-heading {
      font-family: $font-opensans-bold;
      font-size: 18px;
      color: $mid-blue;
      text-align: center;
    }
  }

  .section-benefit {
    padding-top: 8%;

    background-image: url("../assets/images/Rectangle 4-combined.png");
    background-repeat: no-repeat;

    .icon-holder {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .icon-title {
      width: 11%;

      text-align: center;
    }

    .title {
      margin: 15px 0;

      font-family: $font-opensans-semibold;
      font-size: 16px;
      color: $white;
    }

    .icon {
      width: 86%;
    }
  }

  .section-services {
    background-color: $beige;
    background-image: url("../assets/images/Rectangle 6.png");
    background-repeat: no-repeat;
    background-position: bottom;

    .three-content-holder {
      padding: 5% 0 12%;
      margin: 0 24.9% 0;
    }
    
    .icon-text {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 25px;
      align-items: center;
      
      background-image: url("../assets/images/pattern copy 3.png");
      background-repeat: no-repeat;
      border-radius: 22px;
      
      &:first-child {
        background-color: $mid-blue;
      }

      &:nth-child(2) {
        background-color: $green;
      }

      &:last-child {
        background-color: $bright-orange;
      }
    }

    .icon {
      margin: 0 16px;
      width: 18%;
      height: 1%;
    }

    .text {
      display: flex;
      flex-direction: column;
    }
    
    .title {
      font-family: $font-opensans-semibold;
      font-size: 22px;
      color: $white;
    }
    
    .heading {
      width: 94%;

      font-family: $font-opensans-regular;
      font-size: 14px;
      color: $white;
      line-height: 1.6;
    }
    
    .arrow {
      width: 9.5%;
    }
    
    .arrow-icon {
      margin-top: 40px;
      width: 120px;
    }

    .fas {
      position: relative;
      bottom: 81px;
      left: 73%;

      font-size: 45px;
      color: $white;

      &:hover {
        color: $orange;
      }
    }

    .bg-pug {
      display: flex;
      justify-content: center;
      height: 10px;
    }

    #pug {
      position: relative;
      bottom: 158px;

      width: 20%;
      height: 180px;
    }
  }

  .section-form {
    padding: 4% 0 11%;

    background-image: url("../assets/images/Rectangle 5.png");
    background-repeat: no-repeat;
    
    .text {
      text-align: center;
    }

    .title {
      font-family: $font-opensans-semibold;
      font-size: 35px;
      color: $white;
    }

    .heading {
      font-family: $font-opensans-regular;
      font-size: 16px;
      color: $white;
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2% 20%;
    }
    
    .form-group {
      display: flex;
      flex-direction: row;
    }

    .form-control {
      padding: 13px 16px;
      margin: 0 10px;

      font-family: $font-opensans-regular;
      font-size: 12px;
      color: white;

      background-color: transparent;
      border-radius: 8px;
      textarea:focus, input:focus {
        color: white;
    }
    }

    .form-message {
      width: 97%;
    }

    .heading {
      padding: 10px 0;
      margin-bottom: 0;

      font-family: $font-opensans-regular;
      font-size: 20px;
      color: $white;
    }

    .image-holder {
      display: flex;
      justify-content: center;
      height: 10px;
    }

    .food-image {
      width: 38%;
      height: 300px;
    }
  }

  .section-dog-month {
    padding: 3% 0 2%;

    background-image: url("../assets/images/Layer 43.png");
    background-repeat: no-repeat;

    .two-content-holder {
      display: flex;
      flex-direction: row;
      margin: 190px 74px 90px;
      width: 90%;
    }

    .image-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #pup-image {
      width: 25%;
    }

    .bg-pup {
      width: 0;
      height: 10px;

      .pup {
        position: relative;
        bottom: 138px;
        left: 32px;

        width: 400px;
      }
    }

    .title {
      margin-top: 25px;

      font-family: $font-opensans-bold;
      font-size: 45px;
      color: $white;
      letter-spacing: 1.5px;
    }

    .description {          
      font-family: $font-opensans-regular;
      font-size: 16px;
      color: $white;
      line-height: 1.7;
      text-align: center;

      &:first-child {
        margin: 2% 0;
      }

      &:last-child {
        margin: 2% 4.2%;
      }
    }

    .heading {
      font-family: $font-opensans-semibold;
      font-size: 30px;
      color: $white;
    }
  }

  .section-feedback {
    padding: 3% 0 5%;

    background-image: url("../assets/images/Rectangle 10.png");
    background-repeat: no-repeat;

    .swiper-feedback {
      text-align: center;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      align-items: center;

      background-image: url("../assets/images/Rounded Rectangle 5.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .swiper-pagination {
      display: contents;
    }

    .swiper-pagination-bullet {
      margin: 0 7px;
      width: 12px;
      height: 12px;

      background: $dark-blue ;
    }

    .title {
      margin-top: 17%;
      margin-bottom: 2%;

      font-family: $font-opensans-bold;
      font-size: 35px;
      color: $mid-blue;
    }

    .description {
      margin: 0 0 20px;
      width: 85%;
      
      font-family: $font-opensans-regular;
      font-size: 14px;
      color: $mid-blue;
      line-height: 1.6;
      text-align: center;
    }

    .profile-icon {
      margin: 18px 0 0;
      width: 8%;
    }

    .name {
      margin: 10px 0 10px;

      font-family: $font-opensans-semibold;
      font-size: 25px;
      color: $mid-blue;
    }

    .type {
      margin-bottom: 10%;

      font-family: $font-opensans-semibold;
      font-size: 14px;
      color: $mid-blue;
    }
  }

  .section-apply {
    padding: 2% 0 2%;
    
    background-image: url("../assets/images/Layer 34.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    .title {
      font-family: $font-opensans-semibold;
      font-size: 40px;
      color: $white;
      text-align: center;
    }

    .description {
      font-family: $font-opensans-regular;
      font-size: 16px;
      color: $white;
      text-align: center;
    }
  }
}

@include respond-to (xs) {
  .home {
    transition: all .2s ease-in-out;
    
    .section-banner {
      padding-top: 15%;
      padding-bottom: 35%;
  
      background-image: url("../assets/images/banner-background.png");
      background-repeat: no-repeat;
  
      .title-intro {
        margin: 88px 0 0;

        font-family: $font-opensans-regular;
        font-size: 24px;
        color: $dirty-white;
        text-align: center;
      }
  
      .sticky-div {
        position: fixed;
        left: 0;
        top: 31.5%;
   
        margin-top: 68px;
        width: 72%;
        align-items: center;

        background-color: transparent;
        border-radius: 15px;
        
        scroll-behavior: smooth;
        
        z-index: 999;
        
        &.sticky {
          background-color: $mid-blue;
          
          opacity: 88%;

          transition: all 0.3s ease-in-out;
        }
      }
      
      .paw-list {
        display: flex;
        flex-direction: row;
        padding: 10px 6px;
        margin: 0;
      }
  
      .paw-left {
        margin-right: 5px;
        margin-bottom: 30px;
  
        border: 1px solid transparent;
  
        &:hover {
          background-image: none;
          background-image: url("../assets/images/paw orange-right.png");
          background-repeat: no-repeat;
          border: 1px solid transparent;
        }
      }
      
      .paw-right {
        margin-top: 30px;
        margin-left: 5px;
        
        border: 1px solid transparent;
  
        &:hover {
          background-image: url("../assets/images/paw orange-left.png");
          background-repeat: no-repeat;
          border: 1px solid transparent;
        }
      }
  
      .swiper-arrow-holder {
        display: flex;
        flex-direction: row;
      }
  
      .swiper-container {
        position: relative;
        bottom: 0;

        margin-left: 0;
        width: 246px;
      }
  
      .swiper-slide {
        overflow: hidden;
      }
      
      .paw-patrol {
        width: 700px;
      }
  
      .arrow-buttons {
        width: 10px;
        height: 10px;
      }

      .arrow-background {
        position: relative;
        top: 60px;
        right: 100px;
        bottom: 0;

        width: 120px;
        z-index: 1;
      }
  
      .swiper-button-next {
        position: absolute;
        top: 30.5%;
        right: 13%;
        left: auto;

        margin-top: 22px;
        width: 27px;
        height: 27px;
  
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
        
        cursor: pointer;
  
        filter: grayscale(1) brightness(6.5);
  
        z-index: 2;
      }
  
      .swiper-button-prev {
        position: absolute;
        top: 35%;
        left: 68%;

        margin-top: 22px;
        width: 27px;
        height: 27px;
  
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
        
        cursor: pointer;
  
        filter: grayscale(1) brightness(6.5);
        
        z-index: 2;
      }
  
      .fixed-booking-bar {
        position: fixed;
        top: 37%;
        right: 0;
        left: 93.1%;
  
        width: 205px;
        height: 55px;
  
        background: $light-green;
        border: 2px solid transparent;
        border-radius: 0 0 15px 15px;
  
        transform: rotate(90deg);
  
        z-index: 999;
  
        &:hover {
          background-color: $white;
          border: 2px solid $light-green;
  
          .heading {
            color: $light-green;
          }
        }
      }
  
      .heading {
        margin: 14px 50px 0;
  
        font-family: $font-opensans-semibold;
        font-size: 16px;
        color: $white;      
      }
  
      .retriever {
        display: none;
      }
  
      .shadow {
        display: none;
      }
    }
    
    .section-mission {
      #pug-holder {
        display: none;
      }
  
      #pug-image {
        position: relative;
        right: 86%;
        bottom: 100px;
  
        width: 100px;
      }
  
      .content-holder {
        display: flex;
        flex-direction: column;
      }
  
      .title {
        margin: 20px 0;
        
        font-family: $font-opensans-semibold;
        font-size: 29px;
        color: $mid-blue;
        text-align: center;
      }
  
      #pug-holder {
        width: 8%;
      }
  
      .text-holder {
        width: unset;
      }
  
      .heading-holder {
        text-align: unset;
        
        .heading {
          padding: 0;
      
          font-family: $font-opensans-semibold;
          font-size: 16px;
          color: $mid-blue;
          line-height: 1.8;
        }
      }
  
      .sub-heading {
        font-family: $font-opensans-bold;
        font-size: 20px;
        color: $mid-blue;
        text-align: center;
      }
    }
  
    .section-benefit {
      padding-top: 8%;
      padding-bottom: 15%;
  
      background-image: url("../assets/images/Rectangle 4-combined.png");
      background-repeat: no-repeat;
  
      .icon-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      
      .icon-title {
        width: 11%;
        
        text-align: center;
      }
  
      .title {
        margin: 15px 0;
  
        font-family: $font-opensans-semibold;
        font-size: 16px;
        color: $white;
      }
  
      .icon {
        width: 86%;
      }
    }
  
    .section-services {
      background-color: $beige;
      background-image: url("../assets/images/Rectangle 6.png");
      background-repeat: no-repeat;
      background-position: bottom;
  
      .three-content-holder {
        padding: 5% 0 12%;
        margin: 0;
      }
      
      .icon-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 25px;
        align-items: center;
        
        background-image: url("../assets/images/pattern copy 3.png");
        background-repeat: no-repeat;
        border-radius: 22px;
        
        &:first-child {
          background-color: $mid-blue;
        }
  
        &:nth-child(2) {
          background-color: $green;
        }
  
        &:last-child {
          background-color: $bright-orange;
        }
      }
  
      .icon {
        margin: 0 16px;
        width: 18%;
        height: 1%;
      }
  
      .text {
        display: flex;
        flex-direction: column;
      }
      
      .title {
        font-family: $font-opensans-semibold;
        font-size: 22px;
        color: $white;
      }
      
      .heading {
        width: 94%;
  
        font-family: $font-opensans-regular;
        font-size: 14px;
        color: $white;
        line-height: 1.6;
      }
      
      .arrow {
        width: 9.5%;
      }
      
      .arrow-icon {
        margin-top: 40px;
        width: 20px;
      }
  
      .fas {
        position: relative;
        bottom: 81px;
        left: 73%;
  
        font-size: 45px;
        color: $white;
  
        &:hover {
          color: $orange;
        }
      }
  
      .bg-pug {
        display: flex;
        justify-content: center;
        height: 10px;
      }
  
      #pug {
        position: relative;
        bottom: 158px;
  
        width: 20%;
        height: 180px;
      }
    }
  
    .section-form {
      padding: 4% 0 11%;
  
      background-image: url("../assets/images/Rectangle 5.png");
      background-repeat: no-repeat;
      
      .text {
        text-align: center;
      }
  
      .title {
        font-family: $font-opensans-semibold;
        font-size: 35px;
        color: $white;
      }
  
      .heading {
        font-family: $font-opensans-regular;
        font-size: 16px;
        color: $white;
      }
  
      .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 20%;
      }
      
      .form-group {
        display: flex;
        flex-direction: column;
      }
  
      .form-control {
        padding: 13px 16px;
        margin: 0 10px;
  
        font-family: $font-opensans-regular;
        font-size: 12px;
        color: white;
  
        background-color: transparent;
        border-radius: 8px;
        textarea:focus, input:focus {
          color: white;
      }
      }
  
      .form-message {
        width: 97%;
      }
  
      .heading {
        padding: 10px 0;
        margin-bottom: 0;
  
        font-family: $font-opensans-regular;
        font-size: 20px;
        color: $white;
      }
  
      .image-holder {
        display: flex;
        justify-content: center;
        height: 10px;
      }
  
      .food-image {
        width: 38%;
        height: 300px;
      }
    }
  
    .section-dog-month {
      padding: 3% 0 2%;
  
      background-image: url("../assets/images/Layer 43.png");
      background-repeat: no-repeat;
  
      .two-content-holder {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 90%;
      }
  
      .image-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      #pup-image {
        width: 25%;
      }
  
      .bg-pup {
        display: none;
      }
  
      .title {
        margin-top: 25px;
  
        font-family: $font-opensans-bold;
        font-size: 45px;
        color: $white;
        letter-spacing: 1.5px;
      }
  
      .description {          
        font-family: $font-opensans-regular;
        font-size: 16px;
        color: $white;
        line-height: 1.7;
        text-align: center;
  
        &:first-child {
          margin: 2% 0;
        }
  
        &:last-child {
          margin: 2% 4.2%;
        }
      }
  
      .heading {
        font-family: $font-opensans-semibold;
        font-size: 30px;
        color: $white;
      }
    }
  
    .section-feedback {
      padding: 3% 0 5%;
  
      background-image: url("../assets/images/Rectangle 10.png");
      background-repeat: no-repeat;
  
      .swiper-feedback {
        text-align: center;
      }
  
      .swiper-slide {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        align-items: center;
  
        background-image: url("../assets/images/Rounded Rectangle 5.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  
      .swiper-pagination {
        display: contents;
      }
  
      .swiper-pagination-bullet {
        margin: 0 7px;
        width: 12px;
        height: 12px;
  
        background: $dark-blue ;
      }
  
      .title {
        margin-top: 17%;
        margin-bottom: 2%;
  
        font-family: $font-opensans-bold;
        font-size: 35px;
        color: $mid-blue;
      }
  
      .description {
        margin: 0 0 20px;
        width: 85%;
        
        font-family: $font-opensans-regular;
        font-size: 14px;
        color: $mid-blue;
        line-height: 1.6;
        text-align: center;
      }
  
      .profile-icon {
        margin: 18px 0 0;
        width: 8%;
      }
  
      .name {
        margin: 10px 0 10px;
  
        font-family: $font-opensans-semibold;
        font-size: 25px;
        color: $mid-blue;
      }
  
      .type {
        margin-bottom: 10%;
  
        font-family: $font-opensans-semibold;
        font-size: 14px;
        color: $mid-blue;
      }
    }
  
    .section-apply {
      padding: 2% 0 2%;
      
      background-image: url("../assets/images/Layer 34.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
  
      .title {
        font-family: $font-opensans-semibold;
        font-size: 40px;
        color: $white;
        text-align: center;
      }
  
      .description {
        font-family: $font-opensans-regular;
        font-size: 16px;
        color: $white;
        text-align: center;
      }
    }
  }
}

// @include respond-to (sm) {
  
// }

// @include respond-to (md) {
  
// }

// @include respond-to (lg) {
  
// }

// @media screen and (min-width: 2000px) {
  
// }