//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-banner {
    padding-top: 15%;
    padding-bottom: 9%;

    background-image: url("../assets/images/banner-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title-intro {
      font-family: $font-opensans-regular;
      font-size: 50px;
      color: $dirty-white;
      text-align: center;
    }

    .fixed-paw-bar {
      position: fixed;
      left: 0;
      top: 28%;

      display: flex;
      flex-direction: column;
      margin: 10px;
      width: 4%;
      
      background: $dark-grey;
      opacity: 18%;
    }

    .paw-content {
      display: flex;
    }

    .paw-left {
      margin-right: 30px;
    }

    .paw-right {
      margin-left: 30px;
    }

    .swiper-arrow-holder {
      display: flex;
      flex-direction: row;
    }

    .swiper-container {
      position: relative;
      bottom: 32px;

      margin-left: 8.5%;
      width: 100%;
    }

    .paw-patrol {
      width: 100%;
    }

    .arrow-buttons {
      padding-left: 30px;
      width: 126px;

      z-index: 1;

      .arrow-background {
        position: relative;
        right: 110px;
        bottom: 42px;
        
        width: 180px;
      }
    }

    #right-arrow {
      position: relative;
      top: 21%;
      right: 9%;
      font-size: 62px;
      z-index: 999;
    }
    
    #left-arrow {      
      position: relative;
      bottom: 36%;
      right: 53%;
      font-size: 62px;
      z-index: 999;
    }

    .heading {
      position: fixed;
      top: 38%;
      right: 0;
      left: 93.9%;
      
      width: 150px;
      height: 80px;
      
      font-family: $font-opensans-semibold;
      font-size: 16px;
      color: $white;

      background-image: url("../assets/images/Rounded Rectangle 6.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      transform: rotate(90deg);
    }

    .arrow-buttons {
      width: 180px;
    }
  }
}



