//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open-Sans';
$font-opensans-regular: 'opensans-regular';
$font-opensans-semibold: 'OpenSans-Semibold';
$font-opensans-bold: 'OPENSANS-BOLD';

/// @type List
$text-font-stack: $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

$brown: #593f27;

$white: #ffffff;

$dirty-white: #fbfae9;

$beige: #f2f1d2;

$gradient-yellow: #cbd359;

$light-green: #8eb958;

$green: #64c050;

$pale-green: #98bf5d;

$orange: #e69a21;

$bright-orange: #e79b21;

$mid-blue: #077780;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
